<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head'); %>
    <body>
        <div class="container">
            <%- include('../partials/header'); %>
            <div class="p-5 pb-0">
                <h1 class="font-brand text-center">Sobre nosotros</h1>
                <hr class="h-line bg-blue w-50 mx-auto mb-5">
                <div class="row gx-0 bg-dark">
                    <div class="col-md align-self-center">
                        <div class="p-5 text-light">
                            <h2 class="font-brand">Misión</h2>
                            <p class="fw-light mt-3">
                                Nuestra misión es brindar un refugio de lujo para mascotas, 
                                donde el máximo cuidado, la seguridad y el bienestar animal son 
                                nuestras principales prioridades. Nos comprometemos a proporcionar 
                                un ambiente acogedor y cómodo, donde cada mascota se sienta amada, 
                                atendida y respetada. A través de nuestro dedicado equipo de profesionales y 
                                nuestras instalaciones de vanguardia, nos esforzamos por superar 
                                las expectativas de nuestros clientes, 
                                creando experiencias positivas y memorables para todos.
                            </p>
                        </div>
                    </div>
                    <div class="col-md">
                        <img src="/images/pool.jpg" alt="Miembros del equipo jugando con perros" class="cover">
                    </div>
                </div>
                <div class="row gx-0 bg-dark">
                    <div class="col-md">
                        <img src="/images/swimm.jpg" alt="Miembros del equipo jugando con perros" class="cover">
                    </div>
                    <div class="col-md align-self-center">
                        <div class="p-5 text-light">
                            <h2 class="font-brand">Visión</h2>
                            <p class="fw-light mt-3">
                                Nuestra visión es ser reconocidos como referentes en servicios de hospedaje 
                                de lujo para mascotas. Nos esforzamos por establecer los más altos estándares 
                                de calidad y excelencia en el cuidado animal, ofreciendo una experiencia única y 
                                exclusiva que promueva la felicidad y el bienestar de cada huésped. 
                                Buscamos constantemente innovar y mejorar nuestras instalaciones y servicios, 
                                con el objetivo de ser líderes en la industria y crear un impacto positivo en 
                                la vida de los animales y sus familias.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row gx-0 bg-dark">
                    <div class="col-md align-self-center">
                        <div class="p-5 text-light">
                            <h2 class="font-brand mb-4">Valores</h2>
                            <div class="fw-light">
                                <h3 class="h5"> 1. Cuidado y amor: </h3>
                                <p>
                                    Tratamos a todos los huéspedes con respeto, paciencia y afecto, 
                                    asegurando que se sientan seguros y amados durante su estancia.
                                </p>
                            </div>
                            <div class="fw-light">
                                <h3 class="h5"> 2. Seguridad y bienestar: </h3>
                                <p>
                                    Nuestra máxima prioridad. Contamos con instalaciones seguras y confortables, 
                                    personal capacitado en protocolos de seguridad, 
                                    y nos aseguramos de proporcionar una atención adecuada y 
                                    personalizada en función de las necesidades individuales.
                                </p>
                            </div>
                            <div class="fw-light">
                                <h3 class="h5"> 3. Calidad y excelencia: </h3>
                                <p>
                                    Nos esforzamos por ofrecer servicios de la más alta calidad y 
                                    excelencia en todas las áreas de nuestro hotel para mascotas de lujo. 
                                    Nos comprometemos a superar las expectativas de nuestros clientes y 
                                    sus compañeros peludos.
                                </p>
                            </div>
                            <div class="fw-light">
                                <h3 class="h5"> 4. Honestidad y transparencia: </h3>
                                <p>
                                    Mantenemos una comunicación abierta y honesta con nuestros clientes, 
                                    proporcionando información clara sobre nuestros servicios, tarifas y políticas. 
                                    Valoramos la confianza y la transparencia en todas nuestras interacciones.
                                </p>
                            </div>
                            <div class="fw-light">
                                <h3 class="h5"> 5. Responsabilidad ambiental: </h3>
                                <p>
                                    Nos comprometemos a operar de manera sostenible y respetuosa con el medio ambiente. 
                                    Implementamos prácticas responsables en el manejo de residuos, 
                                    el uso eficiente de los recursos y la promoción de iniciativas ecológicas 
                                    para minimizar nuestro impacto en el entorno.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <img src="/images/adies.jpg" alt="Miembros del equipo jugando con perros" class="cover">
                    </div>
                </div>
            </div>
            <%- include('../partials/footer'); %>
        </div>
    </body>
</html>    