<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head'); %>
    <body>
        <div class="container">
            <%- include('../partials/header'); %>
            <div>
                <h1>página del gerente</h1>
            </div>
            <%- include('../partials/footer'); %>
        </div>
    </body>
</html>    