<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head'); %>
  <body>
    <div class="container">
      <h1>PÁGINA DE INICIO</h1>
      <%- include('../partials/footer'); %>
    </div>
  </body>
</html>
