<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head'); %>
    <body>
        <div class="container">
            <%- include('../partials/header'); %>
            <div class="p-5">
                <h1 class="font-brand text-center">Estadísticas actuales</h1>
                <hr class="h-line bg-blue w-50 mx-auto mb-5">
                <div>
                    <div class="row p-5 pt-2">
                        <!-- Reservation price -->
                        <div class="col-md border shadow me-3">
                            <canvas id="chartEconomy" class="w-100"></canvas>
                        </div>
                        <!-- Reservations quantity -->
                        <div class="col-md border shadow me-3">
                            <canvas id="chartReservation"></canvas>
                        </div>
                    </div>
                    <div class="row p-5 pt-2">
                        <!-- Room type -->
                        <div class="col-md border shadow me-3">
                            <canvas id="chartRoomType"></canvas>
                        </div>
                        <!-- Pet specie -->
                        <div class="col-md border shadow me-3">
                            <canvas id="chartPetSpecie"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('../partials/footer'); %>
        </div>
    </body>
</html>    