/*____________________________________________________________________
  Project: Petland Resort - Proyecto final DAW
  Version: 4.0
  Last change: 09/06/2023
  Author: Andrea Vieira Hernández (dandreavh)
---------------------[TABLE OF CONTENTS]---------------------

---------------------[COLOR PALETTE]---------------------                                                                                                                                                                
______________________________________________________________________
*/

/* ----------- Fonts ----------*/
/* General */
body, .modal {
  font-family: 'Montserrat', sans-serif;
}
/* Brand */
.font-brand{
  font-family: 'Cormorant Garamond';
}

/* ----- Colors -----*/
/* Light grey for backgrounds */
.bg-grey{
  background-color: rgba(244, 244, 244, 1);
}
/* Dark turquoise for backgrounds */
.bg-blue{
  background-color: rgba(3, 138, 162, 1);
}

/* Dark turquoise for texts */
.text-blue{
  color: rgba(3, 138, 162, 1);
}

/* ----- Navbar -----*/
.navbar-collapse a:hover, .active{
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
}

/* ----- Images -----*/
.cover{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Background image */
.bg-image{
  background-image: url('/images/place.jpg');
  background-size: cover;
  background-position: center;
}

/* ---------- Borders ------------ */
.side-border{
  border-left: 25px solid rgba(3, 138, 162, 1);
}

/* ---------- Hr ----------- */
.h-line{
  height: 5px !important;
}

/* -------- Punctuation stars -------- */
.rating {
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: #ddd;
}

.rating label:before {
  content: '\2605';
  font-size: 25px;
}

.rating input:checked ~ label {
  color: #f8ce0b;
}

/* --------- Clipboard ---------- */
.bi-stickies:hover{
  cursor: pointer;
  color: rgba(3, 138, 162, 1);
}