<footer>
    <div class="row gx-5 pt-3 border-top border-dark">
        <div class="col">
            <div class="row">
                <div class="d-flex justify-content-center align-content-center flex-wrap">
                    <img src="/images/1.png" alt="Logo Petland Resort" class="w-50">
                    <q class="">Una experiencia de lujo para unos seres de lujo</q>
                </div>
            </div>
        </div>
        <div class="col">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3170.6669732647956!2d-6.112735084693876!3d37.37405617983446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd12139f734e77fd%3A0x7d59ee44c5995728!2sCam.%20de%20Mejina%2C%2041807%2C%20Sevilla!5e0!3m2!1ses!2ses!4v1680880482246!5m2!1ses!2ses" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <address class="mt-3">
                <i class="bi bi-geo-alt-fill"></i> Camino Mejina s/n. 41807 Espartinas, Sevilla<br>
                <a href="tel:+34955123456" class="text-decoration-none text-dark"><i class="bi bi-telephone-fill"></i> +34 955 123 456<br></a>
                <a href="mailto:info@petlandresort.com" class="text-decoration-none text-dark"><i class="bi bi-envelope-fill"></i> info@petlandresort.com<br></a>
            </address>
            <div class="d-flex">
                <p class="me-2">Síguenos en: </p>
                <a href="" class="text-decoration-none text-dark"><i class="bi bi-facebook"></i> Facebook </a>
                <a href="" class="text-decoration-none text-dark"><i class="bi bi-instagram ms-2"></i> Instagram </a>
            </div>
        </div>
    </div>
    <div class="row bg-grey">
        <p class="text-center p-3 mb-0">Todos los derechos reservados para Petland Resort 2023</p>
    </div>
</footer>