<footer>
    <div class="row">
        <div class="col">
            <div class="row">
                <img src="" alt="Logo Petland Resort">
            </div>
            <div class="row">
                <q>Una experiencia de lujo para unos seres de lujo</q>
            </div>
        </div>
        <div class="col">
            <!-- iframe -->
            <address>
                Camino Mejina s/n. 41807 Espartinas, Sevilla<br>
                +34 955 123 456<br>
                info@petlandresort.com<br>
            </address>
        </div>
    </div>
    <div class="row">
        <p>Síguenos</p>
    </div>
    <div class="row">
        <p>Todos los derechos reservados para Petland Resort 2023</p>
    </div>
</footer>