<!-- hero -->
<div class="d-md-flex bg-dark p-0">
    <div class="col-md-4 px-0">
        <img src="/images/foto_gerente.jpg" alt="Persona" class="cover" />
    </div>
    <div class="col-md text-center p-5 text-light">
        <h1 class="font-brand">Hola, <%= user.name %></h1>
        <p>
            Aquí te mostramos tu espacio personal donde puedes gestionar tu perfil y
            consultar tus datos
        </p>
        <a href="/users/editUser" class="btn btn-secondary bg-blue rounded-0 border-0 shadow"><i class="bi bi-pencil-square"></i> Editar perfil</a>
    </div>
</div>
<!-- main -->
<div class="bg-grey">
    <h2 class="font-brand text-center py-5">Panel de control</h2>

</div>