<!-- hero -->
<div class="d-md-flex">
    <div class="col-md-4">
        <img src="<%= user.avatar %>" alt="Persona" class="cover" />
    </div>
    <div class="col-md p-5 text-center">
        <h1 class="font-brand">Hola, <%= user.name %></h1>
        <p>
            Aquí te mostramos tu espacio personal donde puedes gestionar tu perfil y
            consultar tus datos
        </p>
        <a href="/users/editUser" class="btn btn-secondary bg-blue rounded-0 border-0 shadow"><i class="bi bi-pencil-square"></i> Editar perfil</a>
    </div>
</div>
<!-- menu -->
<div class="bg-dark">
    <ul class="nav justify-content-center py-2">
        <li class="nav-item">
            <a class="nav-link text-light font-brand" href="#"><i class="bi bi-journal-bookmark"></i> Lista reservas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light font-brand" href="#"><i class="bi bi-hearts"></i> Lista mascotas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light font-brand" href="#"><i class="bi bi-people"></i> Lista clientes</a>
        </li>
    </ul>
</div>
<!-- main -->
<div class="bg-grey">
    <h2 class="font-brand text-center py-5">Panel de control</h2>

</div>