<!-- Modal -->
<div class="modal fade" id="popup-iniciarSesion" tabindex="-1" aria-labelledby="iniciar-sesion" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-light rounded-0 border-0">
            <div class="modal-header border-0 rounded-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h1 class="modal-title text-center font-brand" id="iniciar-sesion">Iniciar sesión</h1>
                <div class="px-5 mt-4">
                    <form action="/users/login" method="POST">
                        <div class="form-floating mb-3 border-bottom border-light">
                            <input type="text" class="form-control bg-dark border-0 text-light" id="username" name="username" placeholder="Nombre de usuario" required minlength="2">
                            <label for="username" class=""><i class="bi bi-person"></i> Nombre de usuario</label>
                        </div>
                        <div class="form-floating border-bottom border-light">
                            <input type="password" class="form-control bg-dark border-0 text-light" id="password" name="password" placeholder="Contraseña de acceso" required minlength="4" maxlength="16">
                            <label for="userPassword"><i class="bi bi-key"></i> Contraseña de acceso</label>
                        </div>
                        <div class="form-check my-3">
                            <input class="form-check-input" type="checkbox" value="" id="rememberme" checked>
                            <label class="form-check-label" for="rememberme">Recuérdame</label>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success bg-blue text-light"><i class="bi bi-box-arrow-in-right"></i> Entrar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer border-0 text-light justify-content-center">
                <a href="/" class="nav-link mb-3">He olvidado mi contraseña</a>
                <a href="/register" class="nav-link mb-3">¿No tienes acceso aún? Regístrate aquí</a>
            </div>
        </div>
    </div>
</div>